* {
    margin: 0px;
    padding: 0px;
}
html {
    box-sizing: border-box;
}
*,* ::before, *::after {
    box-sizing: inherit;
}
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    color: unset;
}
button{
    cursor: pointer;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1060px;
    margin: 0 auto;

}
:root {
    --accent-color: #4182FA;
    --dark-color: #2D2D2D;
    --green-color: #4BD25F;
    --yellow-color: #FFD644;
    --red-color: #FF6745;
}
/* Основной текст */
.text-main {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;

}
/* Текст-заголовок */
.text-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
/* Текст в карточках предложений на 1 странице*/
.text-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin: 0px;
    width: auto;
    padding-bottom: 0px;
}
/* Текст в направлениях */
.text-h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
/* --- HEADER --- */
.nav {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.logo {
    width: 179px;
    height: 38px;
    cursor: pointer;
}
.inf {
    color: var(--dark-color);
    display: flex;
}
.contacts {
    margin-right: 108px;
}
#search {
    padding-right: 4px;
}
#loupe {
    height: 17px;
}
.header_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* --- MAIN --- */
.title {
    color: var(--accent-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 10px;
}
.meaning {
    color:var(--dark-color);
    margin-bottom: 50px;
}
.universities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.university {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 340px;
    height: 337px;
    padding-top: 44px;
    flex-shrink: 0;
    border: 0px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.1);
}
.line {
    background-color: var(--accent-color);
    width: 340px;
    height: 62px;
    padding: 7px 0 7px 0;
    flex-shrink: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.univ_img {
    width: 190px;
    height: 190px;
    flex-shrink: 0; 


}
.univ_text {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}


/* --- FOOTER ---*/
.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.comanda {
    color: var(--accent-color);
    margin-bottom: 10px;
}
.team {
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.vk {
    margin-bottom: 5px;
}
#last_vk{
    margin-bottom: 0px;
}
.footer_right {
    padding: 0px;
    margin: 0px;
}
.company {
    color: var(--dark-color);
}
.russian{
    color: #f80c0c;
    
}