{% block head %}

{% endblock %}

    <body>
        <header class="header">
            <div class="container">
                <div class="nav">
                    <img src="../static/app/content/img/logo.svg" alt="VuzHub" cLass="logo" onclick="location.href='/home'">
                    <div class="inf text-main">
                        <a class="contacts" href="#team">Контакты</a>
                        <div class="search">
                            <a id="search" target="_blank" href="https://yandex.ru/maps/2/saint-petersburg
                            /category/university/184106140/?ll=30.320903%2C59.960639&sll=30.315635%2C59.938951&
                            sspn=0.546570%2C0.196731&z=12">Карта</a>
                            <img id="map" src="../static/app/content/img/map.svg" alt="Иконка карты">
                        </div>
                    </div>
                </div>
                {% block home_content %}

                {% endblock %}
            </div>
        </header>

    {% block content %}

    {% endblock %}

    <footer class="footer">
            <div class="container">
                <div class="footer_content">
                    <div class="footer_left">
                        <div class="text-h3 comanda">Команда</div>
                        <div class="text-main team" id="team">
                            <a class="vk" href="https://vk.com/fast_s_fck" target="_blank">Макаров Никита</a>
                            <a class="vk" href="https://vk.com/i_sherz" target="_blank">Махкамов Шерзод</a>
                            <a class="vk" id="last_vk" href="https://vk.com/id385033240" target="_blank">Мостовой Александр</a>
                        </div>
                    </div>
                    <div class="footer_right">
                        <h class="text-main company">&copy; Группа 4217 ГУАП. 2023-2024</h>
                    </div>
                </div>
            </div>
        </footer>

    </body>

</html>